

    @font-face {
       font-family: "Palui SP"; 
       src: url("PaluiSPDemo-Bold.otf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 
    @font-face {
       font-family: "Gputeks"; 
       src: url("Gputeks-Regular.ttf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 

    h2 {
      font-family: "Palui SP";
      text-align: center;
      text-size: 90px;
    }

    h1 {
      text-align: center;
      text-size: 50px;
    }

    p {
      font-family: "Gputeks";
    }

    a {
      font-family: "Gputeks";
    }
