

    @font-face {
       font-family: "Palui SP"; 
       src: url("PaluiSPDemo-Bold.otf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 
    @font-face {
       font-family: "Gputeks"; 
       src: url("Gputeks-Regular.ttf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 
    @font-face {
       font-family: "ApesTitle"; 
       src: url("ApesTitle.ttf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 

    h2 {
      font-family: "Palui SP";
      text-align: center;
      text-size: 90px;
      text-color: white;
    }

    h1 {
      text-align: center;
      text-size: 50px;
      text-color: white;
    }

    p {
      font-family: "Gputeks";
      text-color: white;
    }

    a {
      font-family: "Gputeks";
      text-color: white;
    }

.cinder {
    font-family: ApesTitle;
      text-color: white;
}


    body {
        background-color: black;
    }

    aside {
        background-color: #030303;
        width: 10%;
        padding: 1.5em;
        margin-top: 5em;
        margin-left: 2.5rem;
        float: left;
        border: 1px double #242324;
        box-shadow: inset 25px 0 25px -15px #242324;
    }

    .cinder-logo-small {
        width: 35px;
        
    }

    .main-content {
        background-color: #121212;
    }
