

    @font-face {
       font-family: "Palui SP"; 
       src: url("PaluiSPDemo-Bold.otf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 
    @font-face {
       font-family: "Gputeks"; 
       src: url("Gputeks-Regular.ttf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 
    @font-face {
       font-family: "ApesTitle"; 
       src: url("ApesTitle.ttf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 

    h2 {
        color: #ffffff;
        font-family: "Palui SP";
        text-align: center;
        text-size: 90px;
      
    }

    h1 {
        color: #ffffff;
        text-align: center;
        text-size: 50px;
    }

    p {
        color: #ffffff;
        font-family: "Gputeks";
    }

.cinder {
    color: #ffffff;
    font-family: ApesTitle;
    margin: 2.5em;
}


    body {
          background-color: black;
    }

    aside {
           background-color: #030303;
           width: 10%;
           padding: 1.5em;
           margin-top: 5em;
           margin-left: 2.5rem;
           margin-right: 2.5rem;
           float: left;
           border: 1px double #242324;
           box-shadow: inset 25px 0 25px -15px #242324;
    }

    .cinder-logo-small {
        width: 35px;
        float: left;
    }

    .sidebar-logo {
        display: flex;
        gap: 0.5em;
    }
    .main-content {
        background-color: #121212;
    }
