@font-face {
    font-family: Kurland; 
    src: url(Kurland-Regular.otf);
   }
@font-face {
    font-family: Jolly Lodger Cyrillic; 
    src: url(jollylodgercyrillic.otf);
   }


.p-center {
    text-align: justify;
}

.header {
    background-color: #b5b8b1;
    align-items: center;
}
