

    @font-face {
       font-family: "Palui SP"; 
       src: url("PaluiSPDemo-Bold.otf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 
    @font-face {
       font-family: "Gputeks"; 
       src: url("Gputeks-Regular.ttf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 
    @font-face {
       font-family: "ApesTitle"; 
       src: url("ApesTitle.ttf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 

    h2 {
        color: #ffffff;
        font-family: "Palui SP";
        text-align: center;
        text-size: 90px;
      
    }

    h1 {
        color: #ffffff;
        font-family: "Gputeks";
        text-align: center;
        text-size: 50px;
    }

    p {
        color: #ffffff;
        font-family: "Gputeks";
    }

.cinder {
    color: #ffffff;
    font-family: ApesTitle;
}

.uc-header {
    display: flex;
    align-items: center;
    gap: 5em;
    margin-left: 22em;
}
.uc-head-logo {
    height: 150px;
    width: 150px;
}

.uc-head-cinder {
    display: flex;
    align-items: center;
    text-size: 15px;
}
.uc-head-cinder-cinder {
    width: 10px;
    height: 10px;
}

    body {
          background-color: black;
    }

    aside {
           background-color: #030303;
           width: 10%;
           padding: 2em;
           margin-top: 5em;
           margin-left: 2.5rem;
           margin-right: 2.5rem;
           float: left;
           border: 2px solid #242324;
           box-shadow: inset 25px 0 25px -15px #242324;
    }

    .cinder-logo-small {
        width: 55px;
        height: 55px;
    }

    .sidebar-logo {
        display: flex;
        align-items: center;
        gap: 2em;
    }
    .main-content {
        background-color: #121212;
        border: 2px solid #242324;
        box-shadow: inset 25px 0 25px -15px #242324;
    }
