

    @font-face {
       font-family: "Palui SP"; 
       src: url("PaluiSPDemo-Bold.otf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 
    @font-face {
       font-family: "Gputeks"; 
       src: url("Gputeks-Regular.ttf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 
    @font-face {
       font-family: "ApesTitle"; 
       src: url("ApesTitle.ttf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 

    h2 {
      font-family: "Palui SP";
      text-align: center;
      text-size: 90px;
      text-color: white;
    }

    h1 {
      text-align: center;
      text-size: 50px;
      text-color: white;
    }

    p {
      font-family: "Gputeks";
      text-color: white;
    }

    a {
      font-family: "Gputeks";
      text-color: white;
    }

.cinder {
    font-family: ApesTitle;
      text-color: white;
}


    body {
        background-color: #121212;
    }

    aside {
        background-color: #030303;
        width: 40%;
        padding-left: 5em;
        margin-left: 5rem;
        float: left;
        border: 1px double #373737;
    }
