

    @font-face {
       font-family: "Palui SP"; 
       src: url("PaluiSPDemo-Bold.otf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 
    @font-face {
       font-family: "Gputeks"; 
       src: url("Gputeks-Regular.ttf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 
    @font-face {
       font-family: "ApesTitle"; 
       src: url("ApesTitle.ttf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 
    @font-face {
       font-family: "Pobeda"; 
       src: url("pobeda-bold.ttf") format("truetype"); 
       font-style: normal; 
       font-weight: normal; 
} 

    h2 {
        color: #ffffff;
        font-family: "Palui SP";
        text-align: center;
        text-size: 90px;
      
    }

    h1 {
        color: #ffffff;
        font-family: "Gputeks";
        text-align: center;
        text-size: 50px;
    }

    p {
        color: #ffffff;
        font-family: "Gputeks";
    }

    a {
        color: white;
    }

.cinder {
    color: #ffffff;
    font-family: ApesTitle;
}

.uc-header {
    display: flex;
    align-items: center;
    gap: 8em;
    margin-left: 22em;
}

.logo-swap{
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.logo-img{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity .15s ease;
  user-select: none;
  -webkit-user-drag: none;
  image-rendering: auto;
}

.logo-1{ opacity: 1; }
.logo-2{ opacity: 0; }

.logo-swap:hover .logo-1{ opacity: 0; }
.logo-swap:hover .logo-2{ opacity: 1; }

    body {
          background-color: black;
    }

    aside {
           background-color: #030303;
           width: 10%;
           padding: 2em;
           margin-top: 5em;
           margin-left: 2.5rem;
           margin-right: 2.5rem;
           float: left;
           border: 3px solid #242324;
           box-shadow: inset 25px 0 25px -15px #242324;
    }

    .cinder-logo-small {
        width: 55px;
        height: 55px;
    }

    .sidebar-logo {
        display: flex;
        align-items: center;
        gap: 2em;
    }

.sidebar-nav {
    padding: 1em;
    border: 1px solid #242324;
}

.sidebar-nav a {
    text-decoration:none;
    color:#fff;
    padding:0 12px;
    position:relative;
}

.sidebar-nav a:not(:last-child)::after{
  content:"";
  position:absolute;
  right:0;
  top:50%;
  transform:translateY(-50%);
  width:1px;
  height:1em;
  background:#666;
}

    .top-bar {
        background-color: #121212;
        border: 3px solid #242324;
        box-shadow: inset 25px 0 25px -15px #242324;
        text-align: center;
    }

    .main-content {
        background-color: #030303;
        border: 3px solid #242324;
        box-shadow: inset 25px 0 25px -15px #242324;
        padding: 2.5em;
        margin: 2em;
        display: flex;
        gap: 5em;
    }

.front-page-columns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around; 
    margin: 0.5em;
}

.front-button {
    font-family: "Pobeda";
    box-sizing: border-box;
    min-height: 40px;
    max-height: 40px;
    min-width: 290px;
    max-width: 290px;
    background-color: #030303;
    display: flex;
    gap: 2em;
    margin: 0.2em;
    align-items: center;
    justify-content:center;
    border: 1px solid #242324;
    border-radius: 14px;
    box-shadow: inset 25px 0 25px -15px #242324;
}
.front-button-img {
    height: 25px;
    width: 25px;
}
.front-button:hover {
    background-color: #c1394f;
    border: 1px solid #690829;
    box-shadow: inset 25px 0 25px -15px #690829;
}
