
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#000200, #021d00);
    color: #e9fa95;
}

.page-wrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    width: 260px;
    background: #022300;
    padding: 20px;
    border-radius: 0 16px 16px 0;
    flex-shrink: 0;
}

.logo-block {
    text-align: center;
    margin-bottom: 20px;
}

.logo-block img {
    width: 120px;
    max-width: 100%;
    border-radius: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    margin: 8px 0;
    padding: 6px 8px;
    border-radius: 6px;
    transition: 0.2s;
}

.menu a:hover {
    background: #2c7503;
}

.menu a:visited {
    color: #d63910;
}

.divider {
    height: 2px;
    background: #76ad20;
    opacity: 0.4;
    width: 80%;
    margin: 15px auto;
    border-radius: 2px;
}

.content {
    flex: 1;
    padding: 30px;
}

.content h1,
.content h2 {
    color: #ffffff;
    margin-top: 0;
}

.about-box {
    background: #021d00;
    padding: 16px;
    border-radius: 12px;
    border-left: 4px solid #76ad20;
    margin-top: 20px;
}

.buttons-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 25px;
}

.round-button {
    padding: 12px 22px;
    border-radius: 30px;
    background: #76ad20;
    color: #000200;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.round-button:hover {
    background: #c3e63e;
}


.footer {
    background: #022300;
    text-align: center;
    color: #76ad20;
    padding: 10px;
    font-size: 14px;
}

/* ===== КАРТА ===== */

.map-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.map-image {
    width: 100%;
    display: block;
}

/* SVG поверх */
.map-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Зоны */
.zone {
    fill: rgba(118, 173, 32, 0.15);
    stroke: #c3e63e;
    stroke-width: 2;
    transition: 0.25s;
    cursor: pointer;
}

/* Hover (ПК) */
.zone:hover {
    fill: rgba(195, 230, 62, 0.3);
    transform: translateY(-8px);
}

/* Нажатие (мобилки) */
.zone:active {
    transform: translateY(-4px) scale(0.98);
}

/* Центр */
.core {
    stroke: #76ad20;
    fill: rgba(118, 173, 32, 0.25);
}


@media (max-width: 900px) {
    .page-wrapper {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 600px) {
    .buttons-row {
        flex-direction: column;
    }

    .round-button {
        width: 100%;
        text-align: center;
    }

    .about-box {
        width: 100%;
    }
}
